# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
venv/
.env

# macOS system files
.DS_Store

# IDE configs
.vscode/
.idea/

# Database and migrations
*.db
alembic/versions/

https://github.com/Detlaff00/mini-crm